{% extends '../core/base.html' %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Solicitação de Impressão
      <small>Sistema de impressão do IFPB Campus Cajazeiras</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Requisição de Impressão</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="callout callout-warning">
      <h4>Atenção</h4>
      <p>Nesta sessão, você realiza a solicitação de impressão do seu arquivo. Você é responsável pelo que está imprimindo, documentos que não tiverem relação com suas atividades dentro da instituição não serão impressos.</p>
    </div>
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Minhas Solicitações</h3>
      </div>
      <div class="box-body">
        <!-- Inicio da Aplicação -->
        <div class="btn-solicitar">
          <a href="{% url 'ctrl_p:upload-file' %}"><button type="button" class="btn btn-success">Solicitar Impressão</button></a>
        </div>

        <div class="impressoes-user">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#andamento" role="tab" data-toggle="tab">Em andamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#finalizadas" role="tab" data-toggle="tab">Finalizadas</a>
            </li>
          </ul>
        <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="andamento">
		    	  <ul class="list-group">
			    	  {% if partidas|length > 0 %}
					    {% for x in partidas %}
				      <li class="list-group-item"><a href="/partida/">Partida Nº</a></li>
				    </ul>
				      {%endfor%}
				      {% else %}
				  <div class="not-found">
				    <h3>Nenhum arquivo aguardando impressão</h3>
				  </div>
              {% endif %}
        </div>

			  <div role="tabpanel" class="tab-pane" id="finalizadas">
			  	<ul class="list-group">
			    	{% if partidas_fina|length > 0 %}
					  {% for x in partidas_fina %}
				    <li class="list-group-item">Partida Nº</li>
				  </ul>
				    {%endfor%}
				    {% else %}
				  <div class="not-found">
				    <h3>Nenhuma partida finalizada</h3>
				  </div>
				    {% endif %}
        </div>
        </div>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome do Documento</th>
              <th scope="col">Data da Solicitação</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Prova de Fundamentos</td>
              <td>29/06/2018</td>
              <td class="text-danger">Aguardando Impressão</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Apostila de Algoritmos</td>
              <td>22/06/2018</td>
              <td class="text-warning">Aguardando Retirada</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Prova de Estrutura de Dados</td>
              <td>13/06/2018</td>
              <td class="text-success">Concluído</td>
            </tr>
          </tbody>
        </table>
        <form>
            {% csrf_token %}

            {{ form }}
        </form>
        </div>
        
      </div>
      <!-- /.box-body -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
{% endblock %}