{% extends '../../core/base.html' %}
{% load staticfiles %}
{% block content %}

  <script type="text/javascript">
    function desabilitar(valor) {
    var status = document.getElementById('cota').disabled;

    if (valor == '-1' && !status) {
      document.getElementById('cota').disabled = true;
    } else {
      document.getElementById('cota').disabled = false;
      }
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Solicitação de Impressão
            <small>Sistema de impressão do IFPB Campus Cajazeiras</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-print"></i> Requisição de Impressão</li>
            <li class="active">Detalhes do Usuário</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
            <!-- Default box -->
            <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Detalhes do Usuário</h3>
            </div>
            <div class="user-datails">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object user-image img-circle" src="{% static 'dist/img/user2-160x160.jpg' %}" alt="Profile User">
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">{{object.first_name}} {{object.last_name}}</h2>
                    <h4>Matrícula: {{ object.registration }}</h4>
                    <h4>Cota: {% if quota == None %}Não definida{% elif quota.quota == -1 %}Ilimitada{% elif quota.quota == 1 %}{{ quota.quota }} página{% else %}{{quota.quota}} páginas{% endif %}</h4><button type="button" class="btn btn-default" data-toggle="modal" data-target="#editarModal">Editar Cota do Usuário <i class="fa fa-pencil" aria-hidden="true"></i></button>
                  </div>
                </div>
            </div>
            <div>
            <div class="impressoes-user">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#andamento" role="tab" data-toggle="tab">Aguardando Impressão</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#retirada" role="tab" data-toggle="tab">Aguardando Retirada</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#finalizadas" role="tab" data-toggle="tab">Concluídos</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="andamento">
                            {% if files_print|length > 0 %}
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nome do Documento</th>
                                  <th scope="col">Data da Solicitação</th>
                                  <th scope="col">Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for file in files_print %}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>
                                  <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                                  <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                                  <td><span class="label label-danger">Aguardando Impressão</span></td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>                            
                            {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo aguardando impressão</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="retirada">
                        {% if files_waiting|length > 0 %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nome do Documento</th>
                              <th scope="col">Data da Solicitação</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files_waiting %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                              <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                              <td><span class="label label-warning">Aguardando Retirada</span></td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>                            
                        {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo aguardando retirada</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="finalizadas">
                        {% if files_complete|length > 0 %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nome do Documento</th>
                              <th scope="col">Data da Solicitação</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files_complete %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                              <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                              <td><span class="label label-success">Concluído</span></td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>                            
                        {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo impresso com êxito</h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>

            </div>
            <!-- /.box-body -->
            <!-- /.box-footer-->
            <!-- /.box -->

        <!-- Modal Editar Cota -->
        <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Editar Cota do Usuário</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="post" action="{% url 'ctrl_p:edit-quota-user' object.pk %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="cota" class="col-sm-2 control-label">Nova Cota</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Informe o valor da nova cota" name="cota" id="cota">
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" onclick="desabilitar('-1')" name="ilimitada" value="-1"> Definir cota ilimitada
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Salvar Cota</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        </section>
        <!-- /.content -->
{% endblock %}